.myAppCon {
  width: 100vw;
  height: 95vh;
  background-size: 100%;
}
.myAppCon .funDisplay {
  opacity: 1;
}
.myAppCon .funDisplay:hover {
  transition: 1.5s !important;
  opacity: 1 !important;
}
.myAppCon main {
  width: 100vw;
  height: 100%;
  margin-top: -5vh;
}
.myAppCon main .asidecS1 {
  position: fixed;
  left: 2px;
}
.myAppCon main .asidecS2 {
  position: fixed;
  right: 2px;
}
.myAppCon main .asidecS2 ul {
  width: 100%;
}
.myAppCon main .asidecS2 ul li {
  width: 98%;
  padding-top: 5px;
}
.myAppCon main .asidecS2 ul li img {
  width: 98%;
  border-radius: 0.4rem;
  cursor: pointer;
}
.myAppCon main .asidecS2 ul li img:hover {
  width: 98.5%;
  box-shadow: black 0 0 15px;
}
